body {
  background-image: url("images/tomato.svg");
  background-repeat: no-repeat;
  left: 0;
  background-size: 1000px;
  background-color: #e8d1a7;
}

p {
  font-family: "Finger Paint", sans-serif;
  font-weight: 400;
  font-style: normal;
  font-size: 50px;
}


ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
}

.techniqueMenu {
    position: fixed;
    top: 0;
    right: -275px;
    width: 250px;
    height: 100%;
    transition: right 250ms ease-in-out;
}

.techniqueMenu.active {
    right: 0;
}

.techniqueMenu .technique {
    position: absolute;
    top: 0;
    right: 0;
    width: 100%;
    height: 100%;
    padding: 10px;
    z-index: 20;
}

.techniqueMenu .toggle {
    position: absolute;
    top: 30px;
    right: 280px;
    text-align: left;
    padding-right: 8px;
    cursor: pointer;
    font-size: 18px;
}

.techniqueMenu.active .toggle i {
    animation: toggleSpinOpen 150ms ease-in-out forwards;
}

.techniqueMenu:not(.active) .toggle i {
    animation: toggleSpinClose 150ms ease-in-out forwards;
}

@keyframes toggleSpinOpen {
    0% {rotate: 0deg;}
    25% {rotate: 45deg;}
    50% {rotate: 90deg;}
    100% {rotate: 180deg;}
}

@keyframes toggleSpinClose {
    0% {rotate: 180deg;}
    50% {rotate: 270deg;}
    100% {rotate: 360deg;}
}